html{
	background-image: url("assets/space.jpg");
    background-repeat: no-repeat;
}

#moon{	
	position: absolute;
	top:  35vh;
	left: 43vw;
	z-index: 0;
}

#sat1{
	position: absolute;
	top:  35vh;
	left: 35vw;

	animation-timing-function: linear;
	-webkit-animation:orbit 4s infinite;
	-o-animation:orbit 4s infinite;
	-moz-animation:orbit 4s infinite;
	-animation:orbit 4s infinite;
}

@-webkit-keyframes orbit {	
	0%{
		transform: translate3d(0px, 0px, 20px);
		z-index: -2;
	}

	49%{
		transform: translate3d(24vw, 24vh, -20px);
		z-index: -2;
	}

	50%{
		z-index: 2;
	}

	100%{
		transform: translate3d(0px, 0px, 20px);
		z-index: 2;
	}
}

@-moz-keyframes orbit3{
	0%{
		transform: translate3d(0px, 0px, 20px);
		z-index: -2;
	}

	49%{
		transform: translate3d(24vw, 24vh, -20px);
		z-index: -2;
	}

	50%{
		z-index: 2;
	}

	100%{
		transform: translate3d(0px, 0px, 20px);
		z-index: 2;
	}
}

@-o-keyframes orbit3{
	0%{
		transform: translate3d(0px, 0px, 20px);
		z-index: -2;
	}

	49%{
		transform: translate3d(24vw, 24vh, -20px);
		z-index: -2;
	}

	50%{
		z-index: 2;
	}

	100%{
		transform: translate3d(0px, 0px, 20px);
		z-index: 2;
	}
}

@-keyframes orbit3{
	0%{
		transform: translate3d(0px, 0px, 20px);
		z-index: -2;
	}

	49%{
		transform: translate3d(24vw, 24vh, -20px);
		z-index: -2;
	}

	50%{
		z-index: 2;
	}

	100%{
		transform: translate3d(0px, 0px, 20px);
		z-index: 2;
	}
}


#sat2{
	position: absolute;
	top:  35vh;
	left: 59vw;

	animation-timing-function: linear;
	-webkit-animation:orbit1 5s infinite;
	-moz-animation:orbit1 5s infinite;
	-o-animation:orbit1 5s infinite;
	-animation:orbit1 5s infinite;
}

@-webkit-keyframes orbit1 {
	0%{
		transform: translate3d(0px, 0px, 20px);
		z-index: 2;
	}

	49%{
		transform: translate3d(-24vw, 24vh, -20px);
		z-index: 2;
	}

	50%{
		z-index: -2;
	}

	100%{
		transform: translate3d(0px, 0px, 20px);
		z-index: -2;
	}
}

@-moz-keyframes orbit3{
	0%{
		transform: translate3d(0px, 0px, 20px);
		z-index: 2;
	}

	49%{
		transform: translate3d(-24vw, 24vh, -20px);
		z-index: 2;
	}

	50%{
		z-index: -2;
	}

	100%{
		transform: translate3d(0px, 0px, 20px);
		z-index: -2;
	}
}

@-o-keyframes orbit3{
	0%{
		transform: translate3d(0px, 0px, 20px);
		z-index: 2;
	}

	49%{
		transform: translate3d(-24vw, 24vh, -20px);
		z-index: 2;
	}

	50%{
		z-index: -2;
	}

	100%{
		transform: translate3d(0px, 0px, 20px);
		z-index: -2;
	}
}

@-keyframes orbit3{
	0%{
		transform: translate3d(0px, 0px, 20px);
		z-index: 2;
	}

	49%{
		transform: translate3d(-24vw, 24vh, -20px);
		z-index: 2;
	}

	50%{
		z-index: -2;
	}

	100%{
		transform: translate3d(0px, 0px, 20px);
		z-index: -2;
	}
}

#sat3{
	position: absolute;
	top:  47vh;
	left: 35vw;

	animation-timing-function: linear;
	-webkit-animation:orbit3 6s infinite;
	-moz-animation:orbit3 6s infinite;
	-o-animation:orbit3 6s infinite;
	-animation:orbit3 6s infinite;
}

@-webkit-keyframes orbit3 {
	0%{
		transform: translate3d(0px, 0px, 20px);
		z-index: -2;
	}

	49%{
		transform: translate3d(28vw, 0px, -20px);
		z-index: -2;
	}

	50%{
		z-index: 2;
	}

	100%{
		transform: translate3d(0px, 0px, 20px);
		z-index: 2;
	}
}

@-moz-keyframes orbit3{
	0%{
		transform: translate3d(0px, 0px, 20px);
		z-index: -2;
	}

	49%{
		transform: translate3d(28vw, 0px, -20px);
		z-index: -2;
	}

	50%{
		z-index: 2;
	}

	100%{
		transform: translate3d(0px, 0px, 20px);
		z-index: 2;
	}
}

@-o-keyframes orbit3{
	0%{
		transform: translate3d(0px, 0px, 20px);
		z-index: -2;
	}

	49%{
		transform: translate3d(28vw, 0px, -20px);
		z-index: -2;
	}

	50%{
		z-index: 2;
	}

	100%{
		transform: translate3d(0px, 0px, 20px);
		z-index: 2;
	}
}

@-keyframes orbit3{
	0%{
		transform: translate3d(0px, 0px, 20px);
		z-index: -2;
	}

	49%{
		transform: translate3d(28vw, 0px, -20px);
		z-index: -2;
	}

	50%{
		z-index: 2;
	}

	100%{
		transform: translate3d(0px, 0px, 20px);
		z-index: 2;
	}
}